/* Page Nav */
.page-nav-space-holder {
    height: 60px;
    position: center;
}

.page-nav-wrapper {
    background: #070341;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.page-nav-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #00BCD4;
}

.page-nav-wrapper a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.page-nav-wrapper .page-nav {
    margin: 10px;
    display: inline-block;
}

.page-nav-wrapper .page-nav li {
    margin-right: 85px;
    display: inline-block;
    background: none;
}

.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
    background: none;
}

.page-nav-wrapper .page-nav li a {
    color: #fff;
    position: center;
    padding: inherit;
}

.page-nav-wrapper .page-nav li a:hover {
    color: #fff;
    position: center;
}

.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
    background: none;
}

.page-nav-wrapper .page-nav li a.active {
    color: #fff;
    background: none;
}

.page-nav-wrapper .page-nav li:last-child {
    margin-right: 10px;
}

.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}


.alignleft {
    float: left;
    color: aliceblue;
    border-right:1px solid white;
    padding-right:5px;
    text-align:left;
    width:33.33333%;
}
.aligncenter {
    float: left;
    color: aliceblue;
    border-right:1px solid white;
    padding-right:5px;
    text-align:center;
    width:33.33333%;
}
.alignright {
    float: left;
    color: aliceblue;
    text-align:right;
    width:33.33333%;
}